// ---------- variables ----------

@white:         #ffffff;
@black:         #000000;
@grey:          #888888;
@blue:          #0000ff;
@blue-darker:   #0000cc;
@blue-dark:     #000099;
@green:         #009900;
@green-dark:    #007700;
@aqua:          #0099cc;
@red:           #ee1100;
@orange:        #ff7700;
@orange-darker: #ff6600;
@yellow:        #ffdd00;

// ---------- editor interface ----------

atom-text-editor,
:host {

  &::shadow {
    .wrap-guide {
      background-color: fade(@black, 10%);
    }

    atom-text-editor-minimap {
      background-color: fade(@black, 5%);
      overflow: visible; // hope this doesn't break anything; was hidden

      &::shadow {
        .minimap-visible-area {
          background-color: fade(@aqua, 25%);
          opacity: 1;
          // border-left: 2px solid fade(@black, 25%);

          &:after {
            content: '';
            position: absolute;
            top: 0; left: -2px; bottom: 0;
            width: 4px;
            background: @aqua;
          }
        }
      }
    }

    // NOTE removes subpixel AA from tiles, richer colors but wrong
    // .tile {
    //   opacity: 0.999;
    // }
  }

  background-color: @white;
  color: @black;

  .indent-guide {
    color: fade(@black, 10%);
  }

  .invisible-character {
    color: fade(@black, 25%);
  }

  .gutter {
    background: @white;
    color: fade(@black, 50%);

    .line-number {
      &.cursor-line {
        color: fade(@black, 75%);
      }

      &.cursor-line-no-selection {
        color: fade(@black, 50%);
      }

      &.git-line-added {
        color: @green;
      }

      &.git-line-modified {
        color: @orange;
      }
    }

    &.git-diff-icon {

      .line-number.git-line-added:before {
        opacity: 0.5;
        color: @green !important;
      }

      .line-number.git-line-modified:before {
        opacity: 0.5;
        color: @orange !important;
      }

      .line-number.git-line-removed:before {
        color: @red !important;
      }
    }

  }

  .gutter .line-number.folded,
  .gutter .line-number:after,
  .fold-marker:after {
    color: @red;
  }

  .invisible {
    color: fade(@black, 25%);
  }

  .cursor {
    color: @black;
    transition: opacity 0.167s;
    border-left-width: 2px;
  }

  .highlights {
    .highlight {
      .region {
        background: fade(@black, 10%);
      }

      &.selection {
        .region {
          background: fade(@black, 10%);
        }
      }

      &.bracket-matcher {
        .region {
          background: fade(@black, 10%);
          border: none;
        }
      }

      &.current-result,
      &.find-result {
        .region {
          background: fade(@yellow, 33%);
          border: none;
          border-radius: 0;
          outline: 2px solid fade(@yellow, 67%);
        }
      }

      &.current-result {
        .region {
          background: @yellow;
          outline: 2px solid @yellow;
        }
      }
    }
  }

  .line {}

  .cursor-line {
    background-color: fade(@black, 5%);
  }

  // ---------- default syntax ----------

  .comment
  {
    color: @orange;
  }

  .operator {
    color: @black;

    &.logical {
      color: @black;
      font-weight: bold;
    }
  }

  .support,
  .storage,
  .modifier,
  .tag,
  .keyword,
  .function-call,
  .function,
  .object,
  .control
  {
    color: @blue;
  }

  .constant,
  .unit,
  .numeric
  {
    color: @red;
  }

  .attribute, // css
  .variable
  {
    color: @aqua;
  }

  .url,
  .string
  {
    color: @green;
  }

  .at-rule, // less/scss
  .pseudo-class,
  .pseudo-element,
  .sgml,
  .support.class, // coffee: Math
  .terminator
  {
    color: @blue-darker;
  }

  .sgml,
  .sgml .punctuation
  {
    color: @red;
  }

  // .meta {} // ???

  .at-rule .keyword, // less/scss
  .doctype,
  .constant,
  .heading,
  .bold,
  .name,
  .magic,
  .class
  {
    font-weight: bold;
  }

  .comment,
  .italic
  {
    font-style: italic;
  }

  .terminator,
  .punctuation
  {
    opacity: 0.667;
  }

  .punctuation {
    color: inherit;
    font-weight: normal;
  }

  // ---------- @TODO and stuff ----------

  .text.plain,
  .comment {
    .type {
      color: @orange;
      font-style: normal;

      // &.todo {
      //   color: average(@red, @orange);
      // }

      // &.fixme,
      &.todo,
      &.review,
      &.hack {
        color: @red;
      }

      &.fixme {
        // border-bottom: 2px solid @red;
        outline: 2px solid @red;
        background: @red;
        color: @white;
      }
    }
  }

  // ---------- embedded styles ----------

  .embedded {
    &.begin,
    &.end {
      color: @black;
    }

    &.line {
      background-color: fade(@black, 5%);

      .begin,
      .end {
        opacity: 0.333;
      }
    }

    &.block {
      .begin,
      .end {
        opacity: 0.5;
      }
    }

  }

  // ---------- source ----------

  .source {
    color: @black;
  }

  // ---------- @gfm ----------

  .gfm {
    .markup {
      -webkit-font-smoothing: auto;
    }

    &.linebreak {
      // background: @yellow;
      position: relative;

      &:before {
        position: absolute;
        bottom: 0; right: 0;
        content:'↵';
        font-size: 150%;
        line-height: 1;
        color: fade(@black, 25%);
      }
    }

    .list {
      &.variable {
        color: inherit;
        opacity: 0.5;
      }

      &.task {
        &.completed {
          font-style: italic;
          // color: fade(@black, 33%);
          opacity: 0.333;

          .variable {
            opacity: 0.75;
          }
        }
      }
    }

    .hr {
      color: fade(@black, 50%);
    }

    .heading {
      color: @blue;

      // &.heading-2 { color: average(@blue, @blue-darker); }
      // &.heading-3 { color: @blue-darker; }
      // &.heading-4 { color: average(@blue-darker, @blue-dark); }
      // &.heading-5 { color: @blue-dark; }
      // &.heading-6 { color: @blue-dark; }

      // &.heading-2,
      // &.heading-3
      // {
      //   color: average(@blue, @blue-darker);
      // }
      //
      // &.heading-4,
      // &.heading-5,
      // &.heading-6
      // {
      //   color: @blue-darker;
      // }

      .marker {
        font-weight: normal;
        opacity: 0.5;
        color: inherit;
      }
    }

    .raw {
      color: @green;

      .support.gfm {
        color: fade(@black, 50%);
      }
    }

    .strike {
      color: fade(@black, 33%);
      text-decoration: line-through;
    }

    .code {
      display: block;

      .support.gfm {
        color: fade(@black, 50%);
      }
    }

    .link {
      color: @green;

      .link {
        text-decoration: underline;
        color: @blue;
      }
    }

    .table {
      color: @blue-dark;

      .border {
        color: @blue;
      }
    }

    .username,
    .issue {
      color: @aqua;
    }

    .mention,
    .issue.tag {
      color: fade(@aqua, 50%);
    }

    &.quote {
      color: @green;

      .gfm.support {
        opacity: 0.667;
      }
    }

    // TODO
    .critic {
      &.addition {}
      &.deletion {}
      &.highlight {}
      &.comment {}
      &.substitution {}
    }
  }

  // ---------- html ----------

  .html {
    &.css.embedded,
    &.css.tag,
    &.scss.embedded,
    &.scss.tag,
    &.style.tag,
    &.script {
      color: @blue-dark;
    }

    &.attribute-name {
      color: @blue-darker;
    }

    // .embedded {
    //   &.js {
    //     .html.tag {
    //       color: @blue-dark;
    //     }
    //   }
    // }
  }

  // ---------- @javascript ----------

  .js {
    .variable {
      color: @aqua; // this
    }

    &.constant {
      &:not(.numeric) {
        color: @blue-dark;
      }

      &.support, // x, y, prototype :(
      &.dom { // width, height
        color: @black;
        font-weight: normal;
      }
    }

    &.instance {
      color: @blue-darker;
    }

    &.constant.boolean {
      color: @red;
    }

    &.embedded {
      .html.tag {
        color: @blue-dark;
      }
    }
  }

  // ---------- @coffee ----------

  .coffee {
    &.embedded.source {
      color: @aqua;
    }

    .punctuation.separator,
    &.comma,
    // &.keyword.operator // '=', but also 'and', stupid parser
    {
      color: @black;
    }

    &.keyword.new {
      color: @blue;
    }

    &.delimited,
    &.comma {
      opacity: 0.5
    }
  }

  // ---------- php ----------

  .php {

    &.storage.modifier.extends, // extends
    &.storage.modifier.abstract, // abstract
    &.basic-functions, // define()
    &.function.support,
    &.function.math, // floor()
    &.function.file, // realpath(), file_exists(), is_writable()
    &.function.dir, // opendir(), readdir()
    &.function.info, // ini_get()
    &.function.array, // array_merge()
    &.storage.type.class, // class
    &.storage.type.function, // function
    &.support.construct, // array(), isset(), empty()
    &.class.variable // Validate::$type ($type)
    {
      color: @blue;
    }

    &.classobj,
    &.storage.modifier, // public, private, global
    &.storage.type, // parent
    &.new, // new
    &.session, // session_start()
    &.import, // require(), include()
    &.network, // header()
    &.support.network, // header()
    &.control, // if, then, else, return, exit(), foreach, switch, case, default, break, die, while
    &.construct // echo
    {
      color: @blue-darker;
    }

    &.inherited-class,
    &.class.name
    {
      color: @blue-dark;
    }

    &.string,
    &.string-contents {
      color: @green;
    }

    &.constant {
      color: @red;
    }

    &.classobj,
    &.network,
    &.import
    {
      font-weight: bold;
    }

    .operator {
      &.assignment,
      &.key {
        color: @black;
      }

      &.class { // ->, ::
        color: fade(@black, 66%);
        font-weight: normal;
      }

      &.logical {
        color: @red;
      }
    }

    &.arguments {
      &:not(.argument) {
        color: fade(@black, 66%);
      }
    }
  }

  // ---------- text ----------

  .text {}

  // ---------- (s)css ----------

  .css,
  .scss {
    .attribute-name {
      font-weight: normal;
    }

    &.class,
    &.id {
      color: @green;

      .punctuation.definition.entity { // # in #id
        color: inherit;
      }
    }

    &.parent-selector {
      .punctuation {
        opacity: 1;
      }
    }

    .function,
    &.punctuation.definition.entity, // &
    &.id {
      font-weight: bold;
    }

    &.pseudo-element,
    &.pseudo-class
    {
      font-style: italic;
    }

    &.function,
    .mathematical-symbols,
    .property-value {
      color: @blue;
    }

    // &.function,
    &.tag,
    &.punctuation.definition.entity, // &
    &.reference {
      color: @blue-darker;
    }

    &.important {
      color: @red;
    }
    // Maybe in the future...
    // &.property-name {
    //   &.vendor-prefix {
    //     color: fade(@blue, 66%);
    //     font-style: italic;
    //   }
    // }
  }

  // ---------- less ----------

  .less {
    // &.control,
    // &.keyword,
    .html // atom-text-editor
    {
      color: @blue-darker;
      font-weight: bold;
    }
  }

  // ---------- sql ----------

  .sql {
    &.keyword {
      font-weight: bold;
    }

    &.keyword.operator {
      font-weight: normal;
      color: @green;
    }
  }

  // ---------- apache-config ----------

  .apache-config {
    &.toc-list {
      color: @green;
    }
  }

  // ---------- dfm ----------

  .md {
    &.heading {
      color: @blue;
    }

    &.punctuation {
      opacity: 0.5;
    }

    &.italic {
      font-style: italic;
    }

    &.bold {
      font-weight: bold;
    }
  }

}

// atom-text-editor[mini] .scroll-view,
// :host([mini]) .scroll-view {
//   padding-left: 1px;
// }
