.gfm {
  &.linebreak {
    position: relative;

    &:before {
      position: absolute;
      bottom: 0; right: 0;
      content:'↵';
      font-size: 150%;
      line-height: 1;
      color: fade(@text, 25%);
    }
  }

  .list {
    &.variable {
      color: inherit;
      opacity: 0.5;
    }

    &.task {
      &.completed {
        font-style: italic;
        opacity: 0.333;

        .variable {
          opacity: 0.75;
        }
      }
    }
  }

  .hr {
    color: fade(@text, 50%);
  }

  .heading {
    color: @syntax;

    .marker {
      font-weight: normal;
      opacity: 0.5;
      color: inherit;
    }
  }

  .raw {
    color: @neutral;
    background: fade(@neutral, 10%);

    .support.gfm {
      color: fade(@text, 50%);
    }
  }

  .strike {
    color: fade(@text, 33%);
    text-decoration: line-through;
  }

  .code {
    display: block;

    .support.gfm {
      color: fade(@text, 50%);
    }
  }

  .link {
    color: @content;

    .link {
      text-decoration: underline;
      color: @syntax;
    }
  }

  .table {
    color: @syntax-alt;

    .border {
      color: fade(@syntax, 50%);

      &.header {
        color: fade(@syntax-alt, 50%);
      }

      &.alignment {
        color: @syntax-alt;
        font-weight: bold;
      }
    }
  }

  .username,
  .issue {
    color: @variable;
  }

  .mention,
  .issue.tag {
    color: fade(@variable, 50%);
  }

  &.quote {
    color: @content;

    .gfm.support {
      opacity: 0.667;
    }
  }

  .critic {
    .marker {
      opacity: 0.5;
    }
    .operator {
      font-weight: bold;
    }
    &.addition {
      color: @content;
    }
    &.deletion {
      color: @constant;
      text-decoration: line-through;
    }
    &.highlight {
      background: @highlight;
    }
    &.comment {
      color: @comment;
    }
    &.substitution {
      color: @syntax;
    }
  }
}
