.syntax--html {
  &.syntax--css.syntax--embedded,
  &.syntax--css.syntax--tag,
  &.syntax--scss.syntax--embedded,
  &.syntax--scss.syntax--tag,
  &.syntax--style.syntax--tag,
  &.syntax--script.syntax--tag,
  &.syntax--script {
    color: @syntax-alt;
  }

  &.syntax--attribute-name {
    color: @syntax;
  }

  &.syntax--meta.syntax--id.syntax--toc-list {
    font-weight: bold;
  }
}
