.js {
  .variable {
    &.language {
      color: @syntax-code; // this
    }
  }

  &.constant {
    &:not(.numeric) {
      color: @syntax-code-alt;
    }

    &.support, // x, y, prototype :(
    &.dom { // width, height
      color: @syntax-fg;
      font-weight: normal;
    }
  }

  &.instance {
    color: @syntax-code-alt;
  }

  &.constant.boolean {
    color: @syntax-constant;
  }

  &.embedded {
    .html.tag {
      color: @syntax-code-alt;
    }
  }

  &.support.class, // event, window
  {
    font-weight: normal;
    color: @syntax-code;
  }

  &.keyword {
    &.operator { // :, =, +, -
      // color: @syntax-fg;
      color: @syntax-code-alt;

      &.new { // new
        color: @syntax-code;
        font-weight: normal;
      }

      &.comparison, // ==
      &.increment, // ++
      &.decrement, // --
      &.logical { // &&
        color: @syntax-code;
      }
    }

    &.control { // from, if, return

    }
  }

  &.meta {
    &.comma {
      color: @syntax-fg;
    }
    &.prototype .support.constant { // prototype
      color: @syntax-code-alt;
    }
  }

  &.entity.name.type.instance { // new {ClassName}
    // font-weight: normal;
  }
}
