.js {
  .variable {
    color: @syntax-accent; // this
  }

  &.constant {
    &:not(.numeric) {
      color: @syntax-code-dark;
    }

    &.support, // x, y, prototype :(
    &.dom { // width, height
      color: @syntax-fg;
      font-weight: normal;
    }
  }

  &.instance {
    color: @syntax-code-darker;
  }

  &.constant.boolean {
    color: @syntax-constant;
  }

  &.embedded {
    .html.tag {
      color: @syntax-code-dark;
    }
  }
}
