.syntax--json {

  &.syntax--string {
    > .syntax--punctuation {
      opacity: 0.5;
    }
  }

  &.syntax--dictionary {
    &:not(.syntax--value) {
      > .syntax--string {
        color: @syntax;
      }
    }

    &.syntax--value {
      > .syntax--string {
        color: @content;
      }
    }
  }

}
