.md {
  &.heading {
    color: @blue;

    &.empty {
      .punctuation {
        opacity: 1;
      }
    }
  }

  &.quote {
    color: @green;
  }

  &.hr {
    color: @grey;
  }

  &.html {
    color: @blue;

    .tag {
      font-weight: bold;
    }

    .attribute {
      color: @blue-darker;

      .name {
        font-weight: normal;
      }

      .value {
        color: @green;
      }
    }
  }

  &.link {
    &.text {
      color: @green;
    }
    &.destination {
      color: @blue;

      .uri {
        text-decoration: underline;
      }
    }
    &.title {
      color: @blue-darker;
      font-style: italic;
    }
  }

  &.list {
    &.unordered {
      color: @blue-darker;
    }
    &.ordered {
      color: @blue-darker;
    }
    &.empty {
      .punctuation {
        opacity: 1;
      }
    }
  }

  &.code {
    color: @grey;
    background: fade(@grey, 10%);
    // outline: 2px solid fade(@grey, 10%);
  }

    &.indented-code {
      background: fade(@grey, 10%);
    }

  // &.escape,
  // &.entity,
  // &.character,
  &.constant {
    color: @red;
  }

  &.punctuation {
    opacity: 0.5;
    background: inherit;
  }

  &.emphasis {
    font-style: italic;
    background: fade(@green, 10%);
  }

  &.strong {
    font-weight: bold;
    background: fade(@red, 10%);

    &.emphasis {
      font-style: normal;
    }
  }
}
