// Basic colors (light)
@syntax-bg:             #ffffff;
@syntax-fg-pure:        #000000;
@syntax-fg:             lighten(@syntax-fg-pure, 20%);
@syntax-code:           #0000ff;
@syntax-content:        #009900;
@syntax-accent:         #0099cc;
@syntax-constant:       #ee1100;
@syntax-highlight:      #ffdd00;
// @syntax-comment:        mix(@syntax-constant, @syntax-highlight);
@syntax-comment:        #ff8000;

// Derivatives (light)
@syntax-neutral:        mix(@syntax-fg, @syntax-bg);
@syntax-neutral-light:  mix(@syntax-neutral, @syntax-bg, 25%);
@syntax-content-dark:   darken(@syntax-content, 10%);
@syntax-comment-darker: darken(@syntax-comment, 10%);

@syntax-code-alt:       darken(@syntax-code, 15%);
@syntax-content-alt:    darken(@syntax-content, 10%);
@syntax-constant-alt:   darken(@syntax-constant, 10%);
