atom-text-editor {

  background: @background;
  color: @text;

  .indent-guide-improved {
    background-color: fade(@text, 10%);

    &.indent-guide-stack {
      background-color: fade(@text, 10%);

      &.indent-guide-active {
        background-color: fade(@variable, 33%);
        width: 2px;
      }
    }
  }

  .wrap-guide {
    background-color: fade(@text, 10%);
  }

  atom-text-editor-minimap {
    overflow: visible; // hope this doesn't break anything; was originally hidden

    .minimap-visible-area {
      background-color: fade(@neutral, 25%);
      opacity: 1;

      &:after {
        content: '';
        position: absolute;
        top: 0; right: 0; bottom: 0;
        width: 4px;
      }
    }
  }

  &.is-focused {
    background: @background;
    color: @text;

    atom-text-editor-minimap {
      .minimap-visible-area {
        background-color: fade(@variable, 25%);

        &:after {
          background: @variable;
        }
      }
    }
  }

  .line,
  .line-number {
    &.code-block {
      background: fade(@text, 5%);
    }

    &.table-block {
      background: fade(@syntax, 5%);
    }

    &.cursor-line {
      background: fade(@variable, 10%);
    }
  }

  .fold-marker {
    background: @highlight;
    &:after {
      color: @text !important;
      padding: 0 0.5em;
    }
  }

  .indent-guide {
    color: fade(@text, 10%);
  }

  .invisible-character {
    color: fade(@text, 25%);
  }

  .gutter {
    background: transparent;
    color: fade(@text, 50%);

    .custom-decorations {
      background: transparent !important;
    }

    .line-number {
      &.cursor-line {
        color: fade(@text, 50%);
      }

      &.cursor-line-no-selection {
        color: fade(@text, 100%);
      }

      &.folded {
        background: fade(@highlight, 50%);
        &.cursor-line {
          background: @highlight;
        }
      }

      &.git-line-added {
        color: @content;
        background: fade(@content, 10%);
        border-left: 0;
        padding-left: 0.5em;
        &.cursor-line {
          background: @content;
          color: @background;
        }
      }

      &.git-line-modified {
        color: @comment;
        background: fade(@comment, 15%);
        border-left: 0;
        padding-left: 0.5em;
        &.cursor-line {
          background: @comment;
          color: @background;
        }
      }

      &.git-line-removed {
        &:before {
          border-left-color: @constant;
          bottom: -6px;
          border-width: 6px;
          margin-top: -6px;
        }
      }

      .icon-right {
        opacity: 1;
        color: inherit;
      }
    }

    &.git-diff-icon {
      .line-number {
        &.git-line-added:before {
          opacity: 0.5;
          color: @content !important;
        }

        &.git-line-modified:before {
          opacity: 0.5;
          color: @comment !important;
        }

        &.git-line-removed:before {
          color: @constant !important;
        }
      }
    }
  }

  .invisible {
    color: fade(@text, 25%);
  }

  .cursor {
    color: average(@text, @variable);
    transition: opacity 0.333s;
    border-left-width: 3px;
  }

  .highlights {
    .highlight {
      .region {
        background: fade(@text, 10%);

        &.misspelling {
          background: fade(@variable, 10%);
          border-bottom-color: @constant;
        }
      }

      &.selection {
        .region {
          background: fade(@variable, 25%);
        }
      }

      &.bracket-matcher {
        .region {
          border: none;
          background: fade(@highlight, 50%);
          display: inline-block;
        }
      }

      &.current-result,
      &.find-result {
        .region {
          background: fade(@highlight, 50%);
          border: none;
          border-radius: 0;
          box-shadow: 3px 3px 0 fade(@text, 25%);
        }
      }

      &.current-result {
        .region {
          background: fade(@highlight, 50%);
          box-shadow: 3px 3px 0 fade(@text, 50%);
        }
      }
    }
  }

  .highlight-column {
    background-color: fade(average(@text, @variable), 33%) !important;
  }
}

// ---------- embedded styles ----------

.syntax--embedded {
  &.syntax--begin,
  &.syntax--end {
    color: @text;
  }

  &.syntax--line {
    background-color: fade(@text, 5%);

    .syntax--begin,
    .syntax--end {
      opacity: 0.667;
    }
  }

  &.syntax--block {
    .syntax--php.syntax--meta.syntax--begin,
    .syntax--php.syntax--meta.syntax--end {
      opacity: 1;
    }
  }
}
