// ---------- language-todo ----------

.text.plain,
.text.md,
.source.gfm,
.comment {
  .type {
    // font-style: normal;

    &.changed,
    &.idea,
    &.nb,
    &.note,
    &.xxx,
    &.hack,
    &.review,
    &.todo,
    &.review,
    &.hack {
      color: @comment;
      font-weight: bold;
      text-decoration: underline;
    }

    &.todo,
    &.fixme {
      color: @constant;
    }
  }
}

// ---------- embedded styles ----------

.embedded {
  &.begin,
  &.end {
    color: @text;
  }

  &.line {
    background-color: fade(@text, 5%);

    .begin,
    .end {
      opacity: 0.667;
    }
  }

  &.block {
    .php.meta.begin,
    .php.meta.end {
      opacity: 1;
    }
  }
}
